div {

}

.users div {
  border: 2px solid green;
  width: 20%;
  padding: 20px;
  color: white;
  background-color: green;
  border-radius: 15px;
}

.users {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  

}
